<?xml version="1.0" encoding="ISO-8859-1"?>
<MenuSpec>

<words>
  <number>4</number>
  <x>300</x>
  <y>100</y>
  <space x="70" y="50"/>
  <i0>Start Game</i0>
  <i1>Parameters</i1>
  <i2>Help</i2>
  <i3>Exit</i3>
</words>

<clickoff>
  <file>images/Arrow_grey.png</file>
  <width>40</width>
  <height>40</height>
  <src x="0" y="0"/>
  <transparency>true</transparency>
</clickoff>

<clickon>
  <file>images/Arrow_green.png</file>
  <width>40</width>
  <height>40</height>
  <src x="0" y="0"/>
  <transparency>true</transparency>
</clickon>

</MenuSpec>
